.HN-Content{
    background: linear-gradient(360deg, #D4D2FF , #F2F5FF );
}
.Home-Bottom-Box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 25px;
}
.Group-1{
    display: flex;
    align-items: center;
}
.group-content{
    font-size: 1.5em;
    font-weight: 500;
    margin-left: 15px;
}
.group-img1{
    width: 55px;
    height: 55px;
}

@media screen and (max-width:880px) {
    .group-content{
        font-size: 15px;
    }
}
@media screen and (max-width:720px) {
    .Home-Bottom-Box{

    }
    .Group-1{
        width: 50%;
        margin-top: 10px;
    }  
    .group-img1{
        width: 30px;
        height: 30px;
    }
}
@media screen and (max-width:435px) {
    .group-content{
        font-size: 0.9em;
    }
}